.sign-in-content {
  box-sizing: border-box;
  background-color: white;
  width: 350px;
  margin: 0 auto;
  margin-top: 3rem;
  padding: 2rem;
  &__logo {
    width: 60px;
  }
  & h1 {
    margin-top: 0;
  }
}
